<form action='<%= route %>' method='<%= action %>' accept-charset='utf-8'>
	<label for='first_name'>First Name:</label>
	<input type='text' name='user[first_name]' id='first_name' value='<%= @user.first_name %>' />

	<label for='last_name'>Last Name:</label>
	<input type='text' name='user[last_name]' id='last_name' value='<%= @user.last_name %>' />

	<button type='submit'>Save User</button>
</form>
