body {
	padding: 1%;
}
a > button {
	color: black;
}

img {
	max-width: 100%;
	display: block;
}

.flash {
	font-size: 120%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-bottom: 5px;
}

.flash.error {
	background-color: #e00;
}

input {
	display: block;
}



